@page
@model DisasterAlleviationFoundation.Pages.GoodsCategory.CreateCategoryModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @await Html.PartialAsync("/Pages/GoodsCategory/CreateCategory.cshtml", Model)
</div>