@page
@model DisasterAlleviationFoundation.Pages.MonetaryDonation.CreateMonetaryDonationModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @await Html.PartialAsync("/Pages/MonetaryDonation/CreateMonetaryDonation.cshtml", Model)
</div>