@page
@model DisasterAlleviationFoundation.Pages.GoodsDonation.CreateGoodsDonationModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @await Html.PartialAsync("/Pages/GoodsDonation/CreateGoodsDonation.cshtml", Model)
</div>