@page
@model DisasterAlleviationFoundation.Pages.User.UserModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @await Html.PartialAsync("/Pages/User/User.cshtml", Model)
</div>